.background {
  height: 100%;
  overflow: hidden;
  background-image: url('./images/jordan.jpg');
  background-size: cover;
  background-position: 72%;
  background-repeat: no-repeat;
}

.contentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
